@use "../../Styles/Partials/breakpoints" as *;

.login {
  padding-top: 15rem;
  padding-bottom: 10rem;
  width: 100vw;
  background: linear-gradient(-45deg, rgb(81, 3, 3), rgb(2, 2, 80));
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000220;
    margin: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #02f9fe;
    animation: animate 3s ease-in-out infinite;
    &-title {
      color: white;
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
      &-username,
      &-password {
        display: flex;
        label {
          color: white;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          width: 5rem;
        }
        input {
          width: 8rem;
        }
      }
      &-button {
        width: 4rem;
        margin-top: 1rem;
        border: 0;
        border-radius: 10px;
        background-color: red;
        height: 1.25rem;
        color: white;
      }
    }
    &-register button {
      width: 5rem;
      border: 0;
      border-radius: 10px;
      background-color: blue;
      height: 1.25rem;
      color: white;
    }
  }
  @include tablet {
    &__container {
      height: 50vh;
      justify-content: center;
      margin: 1.5rem 6rem;
      &-title {
        font-size: 2.5rem;
      }
      &-form {
        width: 40rem;
        &-username,
        &-password {
          label {
            font-size: 1.5rem;
            width: 10rem;
          }
          input {
            width: 20rem;
            height: 2rem;
          }
        }
        &-button {
          width: 8rem;
          height: 2rem;
          font-size: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-register {
        button {
          width: 8rem;
          height: 2rem;
          font-size: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  @include desktop {
    &__container {
      margin: 5rem 20rem;
    }
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 0 10px 2px #02f9fe;
  }

  50% {
    box-shadow: 0 0 20px 5px #02f9fe;
  }

  100% {
    box-shadow: 0 0 10px 2px #02f9fe;
  }
}
