@use "../../Styles/Partials/breakpoints" as *;

.feature {
  padding-top: 7.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: linear-gradient(-45deg, rgb(81, 3, 3), rgb(2, 2, 80));
  &__leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.018);
    &-title {
      color: white;
      padding-bottom: 1rem;
      z-index: 2;
    }
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      z-index: 2;
      &-kda {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        padding: 1rem 0;
        width: 50%;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        backdrop-filter: blur(10px);
        animation: pulsate2 5s ease-in-out infinite;
        margin-bottom: 2rem;
        h3,
        p {
          color: white;
        }
      }
      &-list {
        display: flex;
        padding: 1rem 0;
        &-kills,
        &-deaths,
        &-assists {
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
          border-radius: 20px;
          margin: 0 0.25rem;
          width: 7rem;
          height: 6rem;
          display: flex;
          border: 1px solid #02fafe63;
          flex-direction: column;
          justify-content: center;
          h3 {
            font-size: 0.8rem;
            padding-bottom: 0.5rem;
          }
          p {
            font-size: 0.75rem;
          }
          p::first-letter {
            text-transform: uppercase;
          }
          h3,
          p {
            color: white;
          }
        }
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
    padding: 1rem 2rem;
    justify-content: flex-start;
    margin: 2.5rem 0;
    border: 1px solid #02f9fe;
    &-title {
      margin: 1rem 0 1.5rem 0;
      color: white;
    }
    &-input {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
      &--tagline {
        width: 5rem;
        margin-left: 1rem;
      }
    }
    &-button {
      width: 7rem;
      border-radius: 20px;
      border: 0;
      background-color: red;
      color: white;
      margin-top: 0.5rem;
    }
    &-hide {
      display: none;
    }
    &-error {
      display: flex;
      text-align: center;
      padding-top: 3rem;
      color: red;
    }
    .input {
      border-radius: 20px;
      border: 0;
      padding-left: 0.5rem;
      background-color: white;
    }
  }
  .loading {
    padding: 7.9rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background: #373a47;
    &__leaderboard {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      height: 35vh;
      padding-top: 1rem;
      &-title {
        color: white;
        padding-bottom: 1rem;
        z-index: 2;
      }
      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        z-index: 2;
        height: 100%;
        &-kda {
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 20px;
          padding: 1rem 0;
          width: 8rem;
          height: 75%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          backdrop-filter: blur(10px);
          animation: pulsate 3s ease-in-out infinite;
          h3,
          p {
            color: white;
          }
        }
        &-list {
          display: flex;
          padding: 1rem 0;
          &-kills,
          &-deaths,
          &-assists {
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            margin: 0 0.25rem;
            width: 20%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
              font-size: 0.8rem;
              padding-bottom: 0.5rem;
            }
            p {
              font-size: 0.75rem;
            }
            p::first-letter {
              text-transform: uppercase;
            }
            h3,
            p {
              color: white;
            }
          }
        }
      }
    }
  }
  @include tablet {
    &__leaderboard {
      height: 40vh;
      padding: 2rem 0;
      justify-content: center;
      &-title {
        font-size: 2rem;
      }
      &-container {
        &-kda {
          h3 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1.25rem;
          }
        }
        &-list {
          &-kills,
          &-deaths,
          &-assists {
            width: 15rem;
            height: 8rem;
            h3 {
              font-size: 1.5rem;
            }
            p {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
    &__form {
      justify-content: center;
      margin-top: 3rem;
      margin: 5rem 0;
      &-title {
        font-size: 2rem;
        margin-top: 0;
      }
      &-input {
        &--username {
          width: 40%;
          height: 2rem;
        }
        &--tagline {
          width: 30%;
          height: 2rem;
        }
      }
      &-button {
        width: 25%;
        height: 2rem;
      }
    }
  }
  @include desktop {
    &__leaderboard {
      &-title {
        font-size: 2.5rem;
      }
    }
    &__form {
      width: 50rem;
      height: 20rem;
      margin: 7rem 0;
    }
  }
}

@keyframes pulsate2 {
  0% {
    box-shadow: 0 0 15px 3px #02f9fe;
  }
  50% {
    box-shadow: 0 0 15px 3px rgba(2, 249, 254, 0);
  }
  100% {
    box-shadow: 0 0 15px 3px #02f9fe;
  }
}
