@use "../../Styles/Partials/resets";
@use "../../Styles/Partials/breakpoints" as *;

.hero {
  width: 100vw;
  height: 73.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 33, 33, 0.642);
    width: 80%;
    padding: 3rem 1rem;
    border-radius: 20px;
    border: 1px solid #02f9fe;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__text {
    margin-bottom: 0.5rem;
  }
  &__button {
    display: flex;
    width: 6rem;
    height: 1.5rem;
    text-decoration: none;
    button {
      width: 100%;
      border-radius: 20px;
      border: 0;
      background-color: red;
      color: white;
    }
  }
  &__title,
  &__text {
    color: white;
  }
  @include tablet {
    &__container {
      padding: 5rem 3rem;
      width: 60%;
    }
  }
  @include desktop {
    &__container {
      padding: 6rem;
      width: 40%;
    }
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  z-index: -1;
}
