@use "../../Styles/Partials/resets";
@use "../../Styles/Partials/breakpoints" as *;

.hero {
  height: 74.3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.674);
    width: 80%;
    padding: 3rem 1rem;
    border-radius: 20px;
    border: 1px solid #02f9fe;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__text {
    margin-bottom: 0.5rem;
    font-style: italic;
  }
  &__button {
    display: flex;
    width: 6rem;
    height: 1.5rem;
    text-decoration: none;
    button {
      width: 100%;
      border-radius: 20px;
      border: 0;
      background-color: red;
      color: white;
    }
  }
  &__title,
  &__text {
    color: white;
  }
  @include tablet {
    &__container {
      padding: 3rem 3rem;
      width: 60%;
    }
    &__title {
      padding-bottom: 2rem;
    }
  }
  @include desktop {
    &__container {
      padding: 6rem;
      width: 40%;
    }
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90%;
  object-fit: cover;
  z-index: -1;
}
