.results {
    padding: 10rem 1rem 8rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.match-container {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.493);
        width: 84vw;
        &-mode, &-map {
            color: white;
        }
        &-mode::first-letter {
            text-transform: uppercase;
        }
    }
    &__table {
    width: 92.43vw;
    margin: 0 auto;
    border-collapse: collapse;

    tr {
        width: 100%;
    }
  
    th {
      padding: 8px;
      text-align: center;
      border: 1px solid black;
    }
  
    th {
      background-color: #f2f2f2;
      font-size: 0.75rem;
    }
  
    tbody {
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
    }
}

.Ascent {
    background: url("https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png");
}
.Split {
    background: url("https://media.valorant-api.com/maps/d960549e-485c-e861-8d71-aa9d1aed12a2/splash.png");
}
.Fracture {
    background: url("https://media.valorant-api.com/maps/b529448b-4d60-346e-e89e-00a4c527a405/splash.png");
}
.Bind {
    background: url("https://media.valorant-api.com/maps/2c9d57ec-4431-9c5e-2939-8f9ef6dd5cba/splash.png");
}
.Breeze {
    background: url("https://media.valorant-api.com/maps/2fb9a4fd-47b8-4e7d-a969-74b4046ebd53/splash.png");
}
.District {
    background: url("https://media.valorant-api.com/maps/690b3ed2-4dff-945b-8223-6da834e30d24/splash.png");
}
.Kasbah {
    background: url("https://media.valorant-api.com/maps/12452a9d-48c3-0b02-e7eb-0381c3520404/splash.png");
}
.Piazza {
    background: url("https://media.valorant-api.com/maps/de28aa9b-4cbe-1003-320e-6cb3ec309557/splash.png");
}
.Lotus {
    background: url("https://media.valorant-api.com/maps/2fe4ed3a-450a-948b-6d6b-e89a78e680a9/splash.png");
}
.Pearl {
    background: url("https://media.valorant-api.com/maps/fd267378-4d1d-484f-ff52-77821ed10dc2/splash.png");
}
.Icebox {
    background: url("https://media.valorant-api.com/maps/e2ad5c54-4114-a870-9641-8ea21279579a/splash.png");
}
.Haven {
    background: url("https://media.valorant-api.com/maps/2bee0dc9-4ffe-519b-1cbd-7fbe763a6047/splash.png");
}

.Ascent, .Split, .Fracture, .Bind, .Breeze, .District, .Kasbah, .Piazza, .Lotus, .Pearl, .Icebox, .Haven {
    background-position: center;
    background-size: cover;
}

  