.results {
    padding: 10rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__general {
        background-color: red;
        width: 91%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        &-mode::first-letter{
            text-transform: uppercase;
        }
    }
    &__player {
        padding: 0.5rem 1rem;
        background-color: red;
        width: 100%;
    }
}