@use "../../Styles/Partials/breakpoints" as *;

.results-loading {
  padding: 7.9rem 1rem 14rem 1rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(-45deg, rgb(81, 3, 3), rgb(2, 2, 80));
  background-position: center;
  background-size: cover;
  animation: animate 6s ease infinite;
  &__header {
    height: 36rem;
    width: 100vw;
    background: linear-gradient(-45deg, silver, rgb(116, 116, 116), black);
    background-size: 400% 400%;
    margin-bottom: 2rem;
    animation: skeleton 5s ease infinite;
  }
  &__card {
    background: linear-gradient(-45deg, grey, black, silver);
    background-size: 400% 400%;
    border-radius: 20px;
    height: 30vh;
    width: 90vw;
    margin-bottom: 1rem;
    animation: skeleton 5s ease infinite;
    padding: 3rem 0;
  }
}

@keyframes skeleton {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.results {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(-45deg, rgb(81, 3, 3), rgb(2, 2, 80));
  background-size: cover;
  background-position: center;
  width: 100vw;
  &__top {
    background-color: rgb(21, 19, 32);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    margin-top: 14vh;
    margin-bottom: 1.75rem;
    &-return {
      display: flex;
      align-items: center;
      text-decoration: none;
      &-image {
        width: 2rem;
        margin-right: -0.25rem;
      }
      &-text {
        color: white;
      }
    }
    &-user {
      padding-right: 0.5rem;
      display: flex;
      align-items: center;
      color: white;
      text-transform: uppercase;
    }
  }
  .no-results {
    padding: 7.9rem 1rem 14rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(52, 56, 68);
    background-size: 400% 400%;
    height: 50vh;
    &__top {
      background-color: rgb(21, 19, 32);
      width: 100%;
      height: 8rem;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      align-items: center;
      margin-bottom: 1rem;
      &-return {
        display: flex;
        align-items: center;
        text-decoration: none;
        &-image {
          width: 2rem;
          margin-right: -0.25rem;
        }
        &-text {
          color: white;
        }
      }
      &-user {
        display: flex;
        align-items: center;
        color: white;
        text-transform: uppercase;
      }
    }
    &__text {
      color: white;
      width: 100%;
      height: 30vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .match-container {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      background-color: rgba(0, 0, 0, 0.493);
      width: 92%;
      &-left {
        margin-left: 1rem;
        display: flex;
        align-items: center;
      }
      &-outcome {
        display: flex;
        align-items: center;
        color: white;
        margin-left: 0.5rem;
        justify-content: center;
        font-size: 1.25rem;
      }
      &-map {
        margin-right: 1rem;
      }
      &-mode,
      &-map {
        color: white;
      }
      &-mode::first-letter {
        text-transform: uppercase;
      }
    }
    &__table {
      width: 92.43vw;
      margin: 0 auto;
      border-collapse: collapse;

      tr {
        width: 100%;
      }

      th {
        padding: 8px;
        text-align: center;
        border: 1px solid black;
      }

      th {
        background-color: #f2f2f2;
        font-size: 0.75rem;
      }

      tbody {
        tr:nth-child(even) {
          background-color: #f9f9f9;
        }
      }
    }
  }
  .Ascent {
    background: url("https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png");
  }
  .Split {
    background: url("https://media.valorant-api.com/maps/d960549e-485c-e861-8d71-aa9d1aed12a2/splash.png");
  }
  .Fracture {
    background: url("https://media.valorant-api.com/maps/b529448b-4d60-346e-e89e-00a4c527a405/splash.png");
  }
  .Bind {
    background: url("https://media.valorant-api.com/maps/2c9d57ec-4431-9c5e-2939-8f9ef6dd5cba/splash.png");
  }
  .Breeze {
    background: url("https://media.valorant-api.com/maps/2fb9a4fd-47b8-4e7d-a969-74b4046ebd53/splash.png");
  }
  .District {
    background: url("https://media.valorant-api.com/maps/690b3ed2-4dff-945b-8223-6da834e30d24/splash.png");
  }
  .Kasbah {
    background: url("https://media.valorant-api.com/maps/12452a9d-48c3-0b02-e7eb-0381c3520404/splash.png");
  }
  .Piazza {
    background: url("https://media.valorant-api.com/maps/de28aa9b-4cbe-1003-320e-6cb3ec309557/splash.png");
  }
  .Lotus {
    background: url("https://media.valorant-api.com/maps/2fe4ed3a-450a-948b-6d6b-e89a78e680a9/splash.png");
  }
  .Pearl {
    background: url("https://media.valorant-api.com/maps/fd267378-4d1d-484f-ff52-77821ed10dc2/splash.png");
  }
  .Icebox {
    background: url("https://media.valorant-api.com/maps/e2ad5c54-4114-a870-9641-8ea21279579a/splash.png");
  }
  .Haven {
    background: url("https://media.valorant-api.com/maps/2bee0dc9-4ffe-519b-1cbd-7fbe763a6047/splash.png");
  }

  .Ascent,
  .Split,
  .Fracture,
  .Bind,
  .Breeze,
  .District,
  .Kasbah,
  .Piazza,
  .Lotus,
  .Pearl,
  .Icebox,
  .Haven {
    background-position: center;
    background-size: cover;
  }
  @include tablet {
    &__top {
      &-return {
        img {
          width: 4rem;
        }
        &-text {
          font-size: 1.5rem;
        }
      }
      &-user {
        font-size: 2rem;
      }
    }
    .match-container {
      width: 80%;
      height: 15vh;
      justify-content: center;
      border-radius: 20px;
      padding: 2rem;
      &__header h3 {
        font-size: 1.5rem;
      }
      &__table {
        width: 96.59%;
        thead tr th {
          font-size: 1.5rem;
        }
        tbody tr th {
          font-size: 1.25rem;
        }
      }
    }
  }
  @include desktop {
    &__top {
      height: 10vh;
    }
    .match-container {
      width: 40%;
      padding: 2rem;
      height: 25vh;
      justify-content: center;
      border-radius: 20px;
      &__header h3 {
        font-size: 1.5rem;
      }
      &__table {
        width: 96.59%;
        thead tr th {
          font-size: 1.5rem;
        }
        tbody tr th {
          font-size: 1.25rem;
        }
      }
    }
  }
}

#Victory {
  color: white;
  background-color: green;
  border-radius: 20px;
  padding: 0 0.5rem;
}

#Defeat {
  color: white;
  background-color: red;
  border-radius: 20px;
  padding: 0 0.5rem;
}
