@use "../../Styles/Partials/breakpoints" as *;

.promo {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373a47;
  &__image {
    background: url("../../Assets/Images/formula-image.png");
    width: 50vw;
    height: 20vh;
    background-position: center;
    background-size: cover;
    border: 1px solid #02f9fe;
    margin-left: 1rem;
  }
  &__container {
    width: 45%;
    margin-left: 1rem;
    margin-right: 1rem;
    &-title {
      margin-bottom: 1rem;
      color: white;
    }
    &-text {
      margin-bottom: 0.5rem;
      color: white;
      font-style: italic;
    }
    &-button {
      width: 5.5rem;
      height: 1.25rem;
      display: flex;
      text-decoration: none;
      button {
        width: 100%;
        border-radius: 20px;
        border: 0;
        background-color: red;
        color: white;
      }
    }
  }
  @include tablet {
    &__image {
      margin-left: 5rem;
      width: 50%;
      height: 70%;
    }
    &__container {
      display: flex;
      flex-direction: column;
      margin-right: 5rem;
      margin-left: 5rem;
      align-items: center;
      text-align: center;
    }
  }
  @include desktop {
    &__image {
      margin-left: 10rem;
      width: 30%;
      height: 70%;
    }
    &__container {
      display: flex;
      flex-direction: column;
      margin-right: 10rem;
      margin-left: 10rem;
      width: 25%;
      align-items: center;
      text-align: center;
    }
  }
}
